
 *{
   font-family: sans-serif;
   font-size: 25px;
 }


.center{
  text-align: center;
}


.gap{
  gap: 20px;
}



/* Signup  */
.signup_margin{
  margin-top: 150px;
  
}
.signup_margin span{
  color: #595959;
  font: normal normal bold 50px/31px Open Sans;
  letter-spacing: 1px;

}
.signup_field span {
  margin-left: 20px;
  color: #747474 ;
}
.signup_field{
 
  margin-top: 50px;
  position: relative;
    left: 10%;
}
.signup_Display{
  display: flex;
}
@media screen and (max-width: 580px) {
  .signup_Display{
    display:block;
  }
}


.Border{
  border-radius: 33px;
  border: 2px solid #31B665;
}

/* End */