

*{
  margin: 0;
  padding: 0;
   font-family: sans-serif;
  
 }

.col-12 {
  padding: 0;
 
}

.w-100{
  width: 75%;
 }
@media screen and (max-width: 993px) {
  .Layout_Sider {
max-width: 0px;
  }
  .w-100{
   width: 100%;
  }

}

.border_shadow{
  height: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.Display{
  display: flex;
}
.top{
 margin-top: 10px;
}
.Grid_display{
  display: grid;
  color: white;
}
 .color{
  color: #31B665;
  font-size: 18px;
 }

.center{
  text-align: center;
  justify-content: center;
   display: flex;
}
.display{
  display: grid;
  gap: 13px;
}
.name_style {
  display: flex;
  justify-items: left;
  /* font-size: 21px; */
}
.blur{
  opacity: 0.4;
}
.check_mark{
  position: absolute;
    top: 50%;
    bottom: 50%;
}
.gap{
  gap: 10px;
}
.Border{
  border-radius: 33px;
  border: 1px solid #31B665;
}
/* Signup  */
.signup_margin{
  margin-top: 100px;
}
.signup_margin span{
  margin-left: 20px;
  color: #595959;
  font: normal normal bold 50px/31px Open Sans;
  letter-spacing: 1px;
}
.icon {
  font-size: larger;
  margin-inline: 20px;
  color: #747474 ;
}
.signup_field{
 
  margin-top: 50px;
  position: relative;
    /* left: 10%; */
}
.signup_Display{
  display: flex;
}
@media screen and (max-width: 580px) {
  .signup_Display{
    display:block;
    position: relative;
    justify-content: center;
    /* left: 25%; */
  }
  .signup_margin span{
    margin-left: 20px;
    color: #595959;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  
  }
 .Fullwidth{
  min-width: 100%;
 }
}
@media (min-width: 992px){
  .col-lg-2 {
   
      width: 34.666667%;
  }
    }
/* End */
/* Login */
/* otp */
.otp_input input{
  position: relative;
  height: 2rem;
  min-width: 25px;
  background-color: #F7F7F7;
  border: 1px solid green;
}
/* end */
/* Store_image */
.StoreAdd_Image{
  color: #31B665;
  height: 150px;
  min-width: 60%;
  border: 2px dashed black;
      position: relative;
        top: 15%;
font-size: 70px;
}
.image_background{
  height: 200px;
    min-width: 60%;
  background-color: #F7F7F7;
}
.file {
  cursor: pointer;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

/* end */

/* .uplode{
  cursor: pointer; 
} */
/* navbar */
.bg-light_navbar{
  background-color: #31B665;
}

@media screen and (max-width: 993px) {

  #mySidebar{
    width: 0px;
  }

}
.Header_image{
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

.navbar-brand{
  margin-left: 20px;
}
.sidebar {
  height: 100%;
  width: 16vw;
  position: fixed;
  z-index: 1  ;
  top: 70px;
  left: 0;
  background-color: #F7F7F7;
  overflow-x: hidden;
  transition: 0.1s;

}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #31B665;
  color: white;
  padding: 10px 15px;
  border: none;
}

 .sidebar a {
  
  text-decoration: none;
 
  color: #6B6B6B;
  display: block;
 
} 

.sidebar a:hover {
  
  text-decoration: none;
 
  color:#31B665;
 
 
} 

.sidebar .closebtn {
  display: none;
   }


.openbtn:hover {
  /* background-color: white; */
  border: 1px solid white;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.justify{
  justify-content: end;
}
.Navbar_end_width{
  max-width: 50px;
  font-size: 30px;
  color: white;
}
/* end */



/* Category */
.Cotegory_table{
  height: 100px;
  background-color: #E1FFED;
}
.Cotegory_table .th1{
text-align: center;
}
.Cotegory_table_show{
  height: 100px;
}


.gap{
  gap: 12px;
}

.Subcategory_hide{
  display: none;
}
.Subcategory_show{
  display:flex;
}

.table_set{
  display: inline-flex;
}
/* end */

.cat_table_body{
  background-color: #FAFAFA;
  height: 300px;
  overflow-y: scroll;
}

.reactIcon{
color:#C3C3C3;
background-color:white;
}
.secItemData_table{
  background-color: #FAFAFA;
  height: 300px;
  overflow-y: scroll;
}
@media(max-width:768px){
  .userProfile{
display: flex;
/* justify-content: start; */
  }
}
.profile_border{
  border-radius: 33px;
  border: 1px solid #31B665;
}
.profile_btn{
  border: #C3C3C3;
}
.profile_img{
  position: relative;
  margin-left: 30px;
}
.profile_img h6{
  margin-top: 10px;
}
.profile_edit{
  color: #595959;
  font: normal normal bold 50px/31px Open Sans;
  letter-spacing: 1px;
}
.prod_main_table_col{
  position: relative;
  left: 16.2%;
}


.product_table{
  margin-top: 100px;
}

.product_head{
  display: flex;
}
@media(max-width:964px){
  .product_head{
    display: block;
  }
}
@media(max-width:993px){
  .product_Col{
    position: absolute;
   left: 0px;
   width: 100%;
  }
} 
.product_table{
  margin-top: 100px;
}




/* commen_Card */
.commen_card{
  position: relative;
  top: 15px;
  height: 100px;
  max-width: 100%;
  align-items: center;
  display: flex;

}

.Top_Card{
    height: 100px;
    border-right: 2px solid #00000029; 
    
}
.Centering{
  position: relative;
 
}

.Centering .col-10{
  display: grid;
  font-size: 13px;
}
.Top_Card_last{
  height: 100px;
}
.circule{
  display: grid;
  align-items: center;
}
.card_text{
  color: #96A5B8;
  
}
/* end */

/* card */

.card_rate{
  display: flex;
  align-items: center;
 
}
.card_rate span{
  color: #222B45;
  font-size: 30px;
  font-weight: 600;
}
.card_span{
  width: fit-content;
  background-color: #00E096;
}
.card_border{
  border: 1px solid #A5FFC8;
}

/* end */



/* Dashboard */
@media(max-width:993px){
  .dashboard{
   display: flex;

  }
}
.dashboard{
  display:contents;

 }

.OrderTrack{
  
  display: flex;
}
.OrderTrack .Hedding{
  font-size: 35px;
  font-weight: 600;
}
.AllButton {
  align-items: center;
  display: flex;
  /* justify-content: end; */
}
@media(max-width:500px){
  .OrderTrack .Hedding{
    font-size: 20px;
    font-weight: 600;
  }
}
.OrderTrack_detaile{
  height: 100%;
  padding: 20px;
}

.Right_border{
  font-size: 21px;
    font-weight: 600;
  border-right: 1px solid #B9B9B9;
}
.Price_color{
  color: #1BA779;
}
hr{
  width: 80%;
  
}
.Navbar_Icon{
  color: #6B6B6B ;

}
/* end */

.TopSelling_head p{
  color:#8B8B8B;
  font-size: large;
}

.product_title{
  color: #000000;
  font-size: 25px;
  font-weight: 700;
}
.Add_prod{
  display: flex;
}
@media(max-width:767px){
  .Add_prod{
    display: block;

  }
  .add_prod_left_col{
    width:100%;
  }
}



/* Stepper */
.Stepper{
  height: 100%;
}
/* end */

@media(max-width:1490px){
  .product_weight_row{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}



.strain_btn{
  width: 90px;
  height: 50px;
  font-size: 20px;
  width: 62px;
  height: 45px;
  font-size: 14px;
  border: 1px solid #FFFFFF;
  border-color: #FFFFFF;
}


.strain_cont_row{
  justify-content: space-around;
}
  /* Tgggole Button Product page  */
  .mask-box {
    border-radius: 20px;
    position: relative;
    background: #f5f5f5;
    box-shadow: 1px 1px 2px rgb(165, 165, 165) inset;
  }

  .mask-box .mask {
    width: 63px;
    height: 40px;
    border-radius: 20px;
    background: #31B665;
    position: absolute;
    box-shadow: 1px 0 2px #b473ff;
    transition: all 0.2s ease;
  }

  .mask-box .MuiButton-root {
    border-radius: 20px;
    width: 63px;
    height: 40px;
    font-weight: bold;
    transition: all 0.2s 0.1s ease;
  }

  .mask-box .MuiButton-root:hover {
    opacity: 0.5;
  }
  /* labresult Product */

.mask-box_lab .mask_lab {
  width: 60px;
  height: 32px;
  border-radius: 11px;
  background: #AAAAAA;
  position: relative;
  top: 38px;
  /* position: absolute; */
  /* box-shadow: 1px 0 2px #b473ff; */
  transition: all 0.2s ease;
}

.mask-box_lab .MuiButton-root {
  border-radius: 20px;
  width: 40px;
  height: 42px;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s 0.1s ease;
  color: #3C3C3C;
}

.mask-box_lab .MuiButton-root:hover {
  opacity: 0.5;
}
.AddProduct_img{
  /* border: 1px solid #DDDDDD; */
  /* width: 100px;
  height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #FAFAFA; */
}
.addProd_image_input{
  opacity: 0.2;


}
.Add_pro_background{
  background-color: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* AllOrder */
.all_order_card{
  border-radius: 4px;
  padding: 4px;
  /* display: flex; */
  /* justify-content: space-around; */
}
.all_order_card_head{
  display: flex;
  justify-content: space-between;
}
.all_order_span{
  color: #9E9E9E;
  margin-left: 10px;
}


/* DropDown Navbar */

.side_bar_option {
  gap: 20px;
  display: flex;
  font-size: initial;
}
.side_penal_link {
  font-size: 16px;

  width: 50%;
  border-radius: 10px;
}
.Togglebar_Arrow {
  cursor: pointer;
  transform: rotate(90deg);
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.show {
  display: block;
  overflow: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.textField {
  /* // marginLeft: theme.spacing.unit,
  // marginRight: theme.spacing.unit, */

  font-size: 50
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}
.line {
  /* height: 65%; */
  gap: 15px;
  top: 20px;
  position: relative;
  list-style: none;
  border-left: 0.3rem solid #C7C7C7;
  margin-left: 0.5rem;
  padding-left: 1.5rem;
  display: grid;
}

.line li {
  font-size: 1.2rem;
  /* margin: 1.5rem ; */
  padding-left: 1.5rem;
  position: relative;
  top: -6px
}

.line li::before {
  content: "";
  display: grid;
  width: 2rem;
  height: 0.1rem;
  background-color: #C7C7C7;
  position: absolute;
  left: -1.5rem;
  top: .6rem;
}

.box {
  width: 190px; 
  height: 100%  ;
  background-color: #FAFAFA;
}

.line li {
  color: #95989A;
  /* display: flex; */
  font-size: 15px;
  top: -6px;
  justify-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
/* End */

/* Product Image */


  .product_imagebox {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color svg{
  color: #31B665;
  font-size: 30px;

}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
cursor: pointer;
}
.MultipulImage {
  position: relative;
  bottom: 38%;

}




/* end */
/* Product Category */
.Product_subCategory {
  /* display: flex; */
  /* justify-content: end; */
  gap: 5px;
  display: inline-flex;
}

  .product_category{
   font-size: 22px;
   font-weight: 500;
  }

.Product_Checkbox{

  gap: 20px;
  display: grid;

}
.form-group-checkboxdev{
  background: #F5F5F5;
  font-size: 20px;
  justify-content: left;
    display: flex;
    gap: 10px;

}.product_category {
  font-size: 22px;
  font-weight: 500;
}

.Product_Checkbox {

  gap: 20px;
  display: grid;

}

.form-group-checkboxdev {
  background: #F5F5F5;
  font-size: 20px;
  justify-content: left;
  display: flex;
  gap: 10px;

}
.Add_Category {
  display: flex;

}
.justify {
  justify-content: space-around;
}
@media (max-width: 570px) {
  .background {

    display: block;
  }

  .Add_Category_pop {
    display: block;
  }
}
.background {

  background-color: #FAFAFA;
}
    .product_category {
      font-size: 22px;
      font-weight: 500;
    }
    
#checkBoxes {
    display: none;
    border: 1px #8DF5E4 solid;
}

#checkBoxes label {
    display: block;
}

#checkBoxes label:hover {
    background-color: #4F615E;
}

/* end */
/* flavour */
.Flav_main_col{
  display: flex;
  margin-top: 10px;
}
.Flav_main_col p{
  font-weight: 700;
  font-size: 27px;
  color: #8B8B8B;
}
.add_flav_btn{
  display: flex;
  justify-content: flex-end;
}

/* newLogin */

.Newlogin_main_div{
width: 18%;

margin-top: 100px;

}
@media(max-width:600px){
  .Newlogin_main_div{
    width: 80%;
    margin-top: 100px;
    
    }
}
@media only screen and (min-width: 601px) and (max-width: 820px)  {
  .Newlogin_main_div{
    width: 40% !important;
    margin-top: 100px;
    
    }
}
@media only screen and (min-width: 820px) and (max-width: 1127px)  {
  .Newlogin_main_div{
    width: 40% !important;
    margin-top: 100px;
    
    }
}

.newLogin_container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login_title{
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.newLogin_btn_paper{
  background-image: linear-gradient(90deg, #6e8ede, #d611ed);
  width: 90%;
  border-radius: 50px 50px;
}
.newLogin_label h6{
  font-size:.7rem;
  margin-top: 10px;
}

/* newSignup */
.newSignup_icon{
  color: #747474 ;
}
.signup_Span{
  font-size: .7rem;
  /* margin-left: 10px; */
  margin-inline: 20px;
  color:#31B665;
}
.newSingup_label h5{
  font-size: .7rem;
}
/* NewAddStore */
.newAddStoreMainDiv{
  width: 32%;

margin-top: 100px;
}
@media(max-width:600px){
  .newAddStoreMainDiv{
    width: 80%;
    margin-top: 100px;
    
    }
}
@media only screen and (min-width: 601px) and (max-width: 820px)  {
  .newAddStoreMainDiv{
    width: 40% !important;
    margin-top: 100px;
    
    }
}
@media only screen and (min-width: 820px) and (max-width: 1127px)  {
  .newAddStoreMainDiv{
    width: 40% !important;
    margin-top: 100px;
    
    }
}
.newAddStore_container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}