
 *{
  margin: 0;
  padding: 0;
   font-family: sans-serif;
  
 }

.col-12 {
  padding: 0;
 
}
.Layout_Sider{

}
.w-100{
  width: 75%;
 }
@media screen and (max-width: 993px) {
  .Layout_Sider {
max-width: 0px;
  }
  .w-100{
   width: 100%;
  }

}

.border_shadow{
  height: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.Display{
  display: flex;
}
.top{
 margin-top: 10px;
}
.Grid_display{
  display: grid;
  color: white;
}
 .color{
  color: #31B665;
  font-size: 18px;
 }

.center{
  text-align: center;
  justify-content: center;
   
    display: flex;
}
.display{
  display: grid;
  gap: 13px;
}
.name_style {
  display: flex;
  justify-items: left;
  /* font-size: 21px; */
}
.blur{
  opacity: 0.4;
}
.check_mark{
  position: absolute;
    top: 50%;
    bottom: 50%;
}
.gap{
  gap: 10px;
}
.Border{
  border-radius: 33px;
  border: 1px solid #31B665;
}
/* Signup  */
.signup_margin{
  margin-top: 100px;
}
.signup_margin span{
  margin-left: 20px;
  color: #595959;
  font: normal normal bold 50px/31px Open Sans;
  letter-spacing: 1px;
}
.icon {
  font-size: larger;
  margin-inline: 20px;
  color: #747474 ;
}
.signup_field{
 
  margin-top: 50px;
  position: relative;
    /* left: 10%; */
}
.signup_Display{
  display: flex;
}
@media screen and (max-width: 580px) {
  .signup_Display{
    display:block;
    position: relative;
    justify-content: center;
    /* left: 25%; */
  }
  .signup_margin span{
    margin-left: 20px;
    color: #595959;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  
  }
 .Fullwidth{
  min-width: 100%;
 }
}
@media (min-width: 992px){
  .col-lg-2 {
      flex: 0 0 auto;
      width: 34.666667%;
  }
    }
/* End */
/* Login */
.login_width .container{
  width: 83%;
}
.login_Title {
  position: relative;
  left: 10%;
}
/* otp */
.otp_input input{
  position: relative;
  height: 2rem;
  min-width: 25px;
  background-color: #F7F7F7;
  border: 1px solid green;
}
/* end */
/* Store_image */
.StoreAdd_Image{
  color: #31B665;
  height: 150px;
  min-width: 60%;
  border: 2px dashed black;
      position: relative;
        top: 15%;
font-size: 70px;
}
.image_background{
  height: 200px;
    min-width: 60%;
  background-color: #F7F7F7;
}
/* end */
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
/* .uplode{
  cursor: pointer; 
} */
/* navbar */
.bg-light_navbar{
  background-color: #31B665;
}

@media screen and (max-width: 993px) {

  #mySidebar{
    width: 0px;
  }

}
.Header_image{
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

.navbar-brand{
  margin-left: 20px;
}
.sidebar {
  height: 100%;
  width: 16vw;
  position: fixed;
  z-index: 1  ;
  top: 70px;
  left: 0;
  background-color: #F7F7F7;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #31B665;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  /* transition: 0.5s; */
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  display: none;
   }
.openbtn:hover {
  /* background-color: white; */
  border: 1px solid white;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.justify{
  justify-content: end;
}
.Navbar_end_width{
  max-width: 50px;
  font-size: 30px;
  color: white;
}
/* end */



/* Category */
.Cotegory_table{
  height: 100px;
  background-color: #E1FFED;
}
.Cotegory_table .th1{
text-align: center;
}
.Cotegory_table_show{
  height: 100px;
}


.gap{
  gap: 12px;
}

.Subcategory_hide{
  display: none;
}
.Subcategory_show{
  display:flex;
}

.table_set{
  display: inline-flex;
}
/* end */

.cat_table_body{
  background-color: #FAFAFA;
  height: 300px;
  overflow-y: scroll;
}

.reactIcon{
color:#C3C3C3;
background-color:white;
}
.secItemData_table{
  background-color: #FAFAFA;
  height: 300px;
  overflow-y: scroll;
}
@media(max-width:768px){
  .userProfile{
display: flex;
justify-content: start;
  }
}
.profile_border{
  border-radius: 33px;
  border: 1px solid #31B665;
}
.profile_btn{
  border: #C3C3C3;
}
.profile_img{
  position: relative;
  margin-left: 30px;
}
.profile_img h6{
  margin-top: 10px;
}
.profile_edit{
  color: #595959;
  font: normal normal bold 50px/31px Open Sans;
  letter-spacing: 1px;
}
.prod_main_table_col{
  position: relative;
  left: 16.2%;
}


.product_table{
  margin-top: 100px;
}

.product_head{
  display: flex;
}
@media(max-width:964px){
  .product_head{
    display: block;
  }
}
@media(max-width:993px){
  .product_Col{
    position: absolute;
   left: 0px;
   width: 100%;
  }
} */
.product_table{
  margin-top: 100px;
}

.product_table{
  margin-top: 100px;
}
.product_table{
  margin-top: 100px;
}
=======


/* commen_Card */
.commen_card{
  position: relative;
  top: 15px;
  height: 100px;
  max-width: 80%;
  align-items: center;
  display: flex;

}
.Top_Card{
    height: 100px;
    border-right: 2px solid #00000029; 
    
}
.Centering{
  position: relative;
  top: 30%;
  left: 10%;
}
.Centering .col-10{
  display: grid;
  font-size: 13px;
}

/* end */
>>>>>>> f9fb819841192b634cdf96ec57cd1479dcc774e8
